<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Antlr4.Runtime.Standard" version="4.13.0" targetFramework="net48" />
  <package id="CoreCLR-NCalc" version="3.0.133" targetFramework="net48" />
  <package id="MathParser.org-mXparser" version="5.2.1" targetFramework="net48" />
</packages>